@import "tailwindcss";

@theme {
  --color-blok-blue: #0a57ff;
  --color-blok-paper: #cad1db;
  --color-blok-orange: #ff5a00;
}

@font-face {
  font-family: "Wanted Sans";
  src: url("/fonts/WantedSansVariable.ttf") format("truetype");
  font-weight: 45 930;
  font-display: swap;
}

:root {
  font-family: "Wanted Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html, body {
  overscroll-behavior: none;
}
